.knowledge__link {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  max-width: 429px;
  margin: 0 auto;
  margin-bottom: 34px;
  padding: 24px 92px;
  font-family: "Cardo";
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  text-decoration: none;
  color: #1b3764;
  background: #ffca42;
  border: 2px solid #ffca42;
}
