.header__free-demo {
  font-family: "Cardo";
  margin: 0;
  font-size: 19px;
  letter-spacing: 0.38px;
}

.header__free-demo::after {
  content: " ";
  text-decoration: none;
  position: absolute;
  width: 24%;
  height: 3%;
  left: 10%;
  margin-left: 25%;
  border-bottom: solid 1px white;
}
